<div class="payment-method-selector">
  <span class="payment-method-selector__option payment-method-selector__option--selected">
    <span class="payment-method-selector__radio" aria-hidden="true"></span>
    <span class="payment-method-selector__body">
      <span class="payment-method-selector__name">{{ 'checkout.delivery.codTitle' | translate }}</span>
      <span class="payment-method-selector__desc">{{ 'checkout.delivery.codSubtitle' | translate }}</span>
    </span>
    <i class="pi pi-money-bill payment-method-selector__icon" aria-hidden="true"></i>
  </span>
</div>
