<section class="new-arrivals-section section" *ngIf="showSection">
  <div class="container-vl">
    <div class="new-arrivals-section__header">
      <h2 class="new-arrivals-section__title">{{ 'home.newArrivals.title' | translate }}</h2>
      <a class="new-arrivals-section__view-all" routerLink="/products" [queryParams]="{ newArrival: true }">
        {{ 'home.newArrivals.viewAll' | translate }}
      </a>
    </div>

    <div class="new-arrivals-section__skeletons" *ngIf="loading">
      <app-vl-skeleton *ngFor="let placeholder of skeletonPlaceholders"></app-vl-skeleton>
    </div>

    <app-vl-carousel *ngIf="!loading" [items]="products" [ariaLabel]="'home.newArrivals.title' | translate">
      <ng-template let-product>
        <app-vl-product-card [product]="product"></app-vl-product-card>
      </ng-template>
    </app-vl-carousel>
  </div>
</section>
